@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core
@inject IWorkerFactory workerFactory

@if(!HasLoaded)
{
    <MudProgressCircular Size="MudBlazor.Size.Large" Indeterminate="true" Style="position: absolute; left: 50%; top: 50%; transform: translate(-50% -50%);" />
}
<ApexChart TItem="Check"
           Title="Checks Over Time"
           Options="ChartOptions">

    <ApexPointTooltip>
        <div>
            @ShowTooltip(context.DataPoint.Items.First())
        </div>
    </ApexPointTooltip>

    <ChildContent>
        <ApexPointSeries TItem="Check"
                         Items="Data"
                         Name="Checks"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Timestamp"
                         YValue="e => e.ObtainedOrder" />
    </ChildContent>
</ApexChart>