@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core
@inject IWorkerFactory workerFactory
@inject Afterpelago.Services.SearchService SearchService
@implements IDisposable

<ApexChart TItem="Check"
           Title="Checks Over Time"
           Options="ChartOptions"
           @ref="ChartRef">

    <ApexPointTooltip>
        <div>
            @ShowTooltip(context.DataPoint.Items.First())
        </div>
    </ApexPointTooltip>

    <ChildContent>
        <ApexPointSeries TItem="Check"
                         Items="Data"
                         Name="Checks"
                         SeriesType="SeriesType.Area"
                         XValue="e => e.Timestamp.ToUnixTimeMilliseconds()"
                         YValue="e => e.ObtainedOrder"
                         />
    </ChildContent>
</ApexChart>