@page "/"

@using Afterpelago.Utilities
@using System.Threading.Tasks

@inject NavigationManager NavManager

<PageTitle>Afterpelago</PageTitle>
<article class="centered full-size">

    <MudText Typo="Typo.h1" Class="no-select">Afterpelago</MudText>

    <span>Welcome to the Post-Game Party</span>

    <!-- View Button -->
    <MudButton 
        OnClick="ToSetup"
        Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Rounded.Build"
        Style="background-color: yellowgreen; color: white; width: 26em; height: 6em; font-size: 1.25em; margin-top: 2em;">
        Build your Post-Game Report
    </MudButton>
</article>

@code {
    private void ToSetup()
    {
        NavManager.NavigateTo("/setup");
    }
}