@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudFileUpload T="IBrowserFile" FilesChanged="UploadLog">
    <ActivatorContent>
        <MudFab Color="Color.Secondary"
                StartIcon="@Icons.Material.Filled.Image"
                Label="Load picture" />
    </ActivatorContent>
</MudFileUpload>

@code
{
    IList<IBrowserFile> _files = new List<IBrowserFile>();
    private void UploadLog(IBrowserFile file)
    {
        _files.Add(file);
        //TODO upload the files to the server
    }
}